<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>
  <arg name="start_manager" default="true"/>
  <arg name="start_server" default="false"/>
  <arg name="nodelet_manager" default="gazes_nodelet_manager"/>
  <arg name="launch-prefix" default=""/>

  <include file="$(find uwds)/launch/env_provider.launch">
    <arg name="output_world" default="robot/env"/>
    <arg name="filename" default="$(find ideapark_description)/models/env/ideapark_2sept_uwds.blend"/>
  </include>

  <include file="$(find ideapark_description)/launch/not_visible_static_entities.launch"/>

</launch>
